body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url("https://img.freepik.com/free-photo/big-data-technology-for-business-finance-concept_31965-3088.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.container{*/
/*  position: relative;*/
/*  max-width: 1110px;*/
/*  margin: 0 auto;*/
/*  padding: 0 15px;*/
/*}*/
/*.row{*/
/*  position: relative;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  margin: 0 -15px;*/
/*}*/
/*.col-4{*/
/*  width: 33.3333%;*/
/*  padding: 0 15px;*/
/*}*/